{% extends 'rent_out.html' %}

{% block title %}# 用户管理{% endblock %}

{% block rent_in %}{% endblock %}
{% block rent_out %}{% endblock %}

{% block place %}# 用户管理{% endblock %}
{% block title_h3 %}{% endblock %}

{% block sub_content %}

    <div class="bs-docs-example bg_white">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>操作</th>
                <th>用户名</th>
                <th>密码</th>
                <th>手机</th>
                <th>邮箱</th>
            </tr>
            </thead>
            <tbody class="text-left">
            {% for u in locals["users"] %}
                {% if not u["username"] == "root" %}
                    <tr>
                        <td>
                            <button class="btn btn-danger" onclick="user_del(this)" value="{{ u["username"] }}">删除</button>
                        </td>
                        <td>{{ u["username"] }}</td>
                        <td>{{ u["password"] }}</td>
                        <td>{{ u["phone"] }}</td>
                        <td>{{ u["email"] }}</td>
                    </tr>
                {% endif %}

            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}


{% block js %}
    <script>
        function user_del(obj) {
            var name = $(obj).val();
            if (confirm("确定删除" + name + "吗？")) {

                $.post("/user_admin/", {name: name}, function (result) {
                    if (result === "ok") {
                        window.location.reload();
                    }
                    else {
                        alert(result)
                    }
                })
            }

        }


    </script>
{% endblock %}